<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/edit.css">
        <link rel="stylesheet" href="/styles/create.css">
        <title>agenda.dev</title>
    </head>
    <body>

        <div class="container">
            <header>
                <h1 id="title">agenda.dev</h1>

                <a href="index"><img width="36px" src="/images/arrow.svg" alt="Voltar"></a>
            </header>

            <main>
                <form id="edit" action="index" method="POST">
                    <div class="input-group">
                        <label for="name">Nome</label>
                        <input type="text" id="name" name="name">
                    </div>

                    <div class="input-group">
                        <label for="name">Sobrenome</label>
                        <input type="text" id="lastname" name="lastname">
                    </div>

                    <div class="input-group">
                        <label for="name">Github</label>
                        <input type="text" id="github" name="github">
                    </div>

                    <div class="button-group">
                        <a href="/src/views/index.html">Cancelar</a>
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </main>

            <footer>
                <p>agenda.dev - 2021</p>
            </footer>
        </div>
    </body>
</html>