<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles/index.css">
        <link rel="stylesheet" href="../../public/styles/modal.css">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <script defer src="/public/scripts/modal.js"></script>
        <title>agenda.dev</title>
    </head>
    <body>
        <div class="container">
            <div class="modal">
                <div class="warning">
                    <img src="/public/images/trash-48.svg" alt="Excluir">
                    <span>Deseja excluir este contato?</span>

                    <div class="buttons-group">
                        <a id="modal-delete" href="#">Excluir</a>
                        <a id="modal-back" href="#">Voltar</a>
                    </div>
                </div>
            </div>
            <header>
                <h1 id="title">agenda.dev</h1>

                <a href="#"><img src="/public/images/plus.svg" alt="Novo contato">Adicionar contato</a>
            </header>

            <main>
                <p>Total: 2</p>

                <div class="contact" data-id="1">
                    <div class="contact-info">
                        <span id="id">1</span>
                        <div class="contact-name">
                            <h2>Luis Felipe</h2>
                            <a href="#"><img width="24px" src="/public/images/github.svg" alt="Github.com"></a>
                        </div>
                    </div>

                    <div class="contact-actions">
                        <a class="edit" href="/src/views/edit.html"><img src="/public/images/edit.svg" alt="Editar"></a>
                        <a data-id="1" class="delete" href="#"><img src="/public/images/trash.svg" alt="Deletar"></a>
                    </div>
                </div>

                <div class="contact" data-id="2">
                    <div class="contact-info">
                        <span id="id">2</span>
                        <div class="contact-name">
                            <h2>Marcos Antônio</h2>
                            <a href="#"><img width="24px" src="/public/images/github.svg" alt="Github.com"></a>
                        </div>
                    </div>

                    <div class="contact-actions">
                        <a class="edit" href="/src/views/edit.html"><img src="/public/images/edit.svg" alt="Editar"></a>
                        <a data-id="2" class="delete" href="#"><img src="/public/images/trash.svg" alt="Deletar"></a>
                    </div>
                </div>
            </main>

            <footer>
                <p>agenda.dev - 2021</p>
            </footer>
        </div>
    </body>
</html>