<div class="input-group">
    <label for="name">Nome</label>
    <input type="text" id="name" name="name">
</div>

<div class="input-group">
    <label for="name">Sobrenome</label>
    <input type="text" id="lastname" name="lastname">
</div>

<div class="input-group">
    <label for="name">Github</label>
    <input type="text" id="github" name="github">
</div>