/* header */

header a {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    background-color: var(--green);
    color: var(--text);

    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

header a img {
    margin-right: .2rem;
}

/* main */

main {
    padding-top: 0;

}

main > p {
    color: rgb(140, 140, 140);
    font-size: 1.2rem;
    font-weight: 400;
}

main .contact {
    background: var(--cover);
    color: var(--text);
    margin: 4rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;
    margin-top: 2rem;

    border-radius: .5rem;
    position: relative;
}

main .contact:hover {
    background: 
    linear-gradient(90deg, rgba(4, 211, 97, 0.5) 0.45%, var(--cover) 31.4%), white;

}


main .contact .contact-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .1fr 2fr;
}

main .contact .contact-info #id {
    grid-column: 1/2;
    font-size: 1.2rem;
    align-self: center;
    padding: 1rem;
    align-self: center;
    color: rgb(140, 140, 140);
}


main .contact .contact-info .contact-name {
    display: flex;
    align-items: center;
    align-self: center;
}

main .contact .contact-info .contact-name a {
    margin-left: 1rem;
}

main .contact .contact-actions {
    justify-self: flex-end;
    display: flex;
    padding: 1rem;
}

main .contact .contact-actions .edit {
    margin-right: 1rem;
    border-radius: .5rem;
    padding: .4rem;
}

main .contact .contact-actions .delete {
    margin-right: 1rem;

    background-color: var(--red);
    border-radius: .5rem;
    padding: .4rem;
}



